@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
/*common*/
body{background-color: #F0F0F0;-ms-overflow-style: none; transition: 0.3s;}
body.overlay{background-color: #000;}
.loading_page { position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #000; z-index: 10; }
.loading_page strong { color: #fff; font-size: 45px; -webkit-transition: -webkit-transform 1.4s; transition: -webkit-transform 1.4s; transition: transform 1.4s; transition: transform 1.4s, -webkit-transform 1.4s; }
.loading_page span{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);  background-color: #000; padding: 50px;}
::-webkit-scrollbar {display: none;}
:root {  
  /* font size */
  --font-small: 14px;
  --font-regular: 18px;
  --font-medium: 24px;
  --font-large: 36px;
  --font-big: 48px;
  --font-black: 60px;
}

/*상단 토글*/
.toggleSwitch {width: 50px;height: 25px;display: block;position: relative;border-radius: 30px;background-color: #fff;box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);cursor: pointer;margin: 30px;}
.toggleSwitch .toggleButton {width: 15px;height: 15px;position: absolute;top: 50%;left: 4px;transform: translateY(-50%);border-radius: 50%;background: #222;}
#toggle:checked ~ .toggleSwitch {background: #222; border:1px solid #fff;}
#toggle:checked ~ .toggleSwitch .toggleButton {left: calc(100% - 22px);background: #fff;}
.toggleSwitch, .toggleButton {transition: all 0.2s ease-in;}

/* Zoomed Image */
.single-image.zoomed--image.zoom--horizontal {height: 100vh;max-height: 100vh;position: relative;white-space: nowrap;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-ms-flex-wrap: nowrap;flex-wrap: nowrap;gap: 100px;}
.single-image.zoomed--image .single--image--wrapper { height: 500px;}
.single-image img{width: 100%; vertical-align: bottom;}
.single-image.zoomed--image > div {display: inline-block;width: 33.333333333%;position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);overflow: hidden;}
.single-image.zoomed--image img {-o-object-fit: cover; object-fit: cover;height: 100%;-o-object-position: center;object-position: center;}
.single-image.zoomed--image .zoomed {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: 999;}
@media only screen and (max-width: 550px) {
  .single-image.zoomed--image > div.zoomed--before,
  .single-image.zoomed--image > div.zoomed--after {display: none;}
  .single-image.zoomed--image .zoomed {width: 80%;}
}

/*! visusl*/
.visual-wrap{position: relative;}
.visual{padding: 100px 20px; font-family: 'pretendard';}
.visual.active{padding: 50px 20px 0 20px; }
.visual .box{display: flex; flex-direction: column; gap: 150px;}
.visual .txt{font-family: "SUIT"; }
.visual .txt h1{font-size: 200px; font-weight: 700; display: flex;}
.visual .disc p{color: #707070; font-size: var(--font-medium); line-height: 1.3;}
.visual .disc .visual-video{ background-color: #fff; padding: 20px; border-radius: 10px; margin: 0 20px 0 auto; }
.visual .disc .visual-video video{width: 100%;}
body.overlay .visual .disc p{color:#fff;}
body.overlay .visual h1{color:#fff;}

.visual .txt img{animation: rotateAni; animation-duration: 7s;animation-fill-mode: forwards;  animation-iteration-count: infinite; max-width: 170px; margin-right: 20px;}
@keyframes rotateAni {
	0% {transform: rotate(0deg);}
  70%{transform: rotate(-360deg);}
	100% {transform: rotate(-360deg);}
}

/*! sec03*/
.sec03{padding: 200px 0; background-color: #fff; background-image: url('../img/sec03.png'); background-size: cover; background-repeat: no-repeat;}
#inc01{padding:650px 0;font-family:'Sequel 100 Wide 95';   margin: 50px 0;}
body #inc01 .big_txt{  display: flex; justify-content: center;flex-direction: column;align-items: center;text-align: center;position: relative;padding-left:50px;font-size: 84px;font-weight: 700;line-height: 1.2;color: rgba(255,255,255,.2)}
#inc01 .big_txt .b_txt {position: relative;width: max-content;background: linear-gradient(to right, #fff, #fff) no-repeat;-webkit-background-clip: text;background-clip: text;background-size: 0%;transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s}
.elementor-element {margin: 0 20px;}
/*! sec04*/
.sec04{padding: 200px 0;}
.sec04 .box{position: relative;}
.sec04 .box .thumbnail img{width: 100%;}
.sec04 .box .txt{ width: 100%; background-color: #EC520B;  font-family: 'Sequel 100 Wide 95'; font-size: 110px; font-weight: 800; text-align: center; padding: 50px 0 70px 0;}
.sec04 .box .txt h1{white-space: nowrap; margin: 50px 0;}



/*! project */
.projects{position: relative; box-sizing: border-box;}
.project{position: absolute;}
.project1{ top: 10%; right:5%}
.project2{ top: 30%; left:10%}
.project3{ top: 50%; right:20%}
.project4{ top: 70%; right:45%}
.project5{ top: 90%; right:5%}